<%=render partial: "form"%>

<div class="row">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= form_for [@user,@book], method: :delete do |f| %>
  <%= f.submit "Delete", class: "delete btn btn-default" %>
<% end %>
</div>
</div>
